[data-input-otp-container] {
    margin: 0 auto !important;
    padding: 0 0px !important;
}


[data-input-otp-container]>div>div {
    height: 25px !important;
    width: 20px !important;
    padding: 3px !important;
    border-radius: 2px !important;
    gap: 0.5px !important;
    margin: 0 auto !important;
}


[data-input-otp-container]>div:nth-of-type(2)>div {
    height: 1px !important;
    width: 1px !important;
    align-items: center !important;
    border-radius: 50% !important;
}


[data-input-otp-container]>div>div>input {
    font-size: 10px !important;
    font-weight: lighter !important;
}


@media (min-width: 300px) {
    [data-input-otp-container] {
        padding: 0 20px !important;
    }
}


@media (min-width: 350px) {
    [data-input-otp-container] {
        padding: 0 6px !important;
    }

    [data-input-otp-container]>div>div {
        height: 30px !important;
        width: 30px !important;
        border-radius: 5px !important;
        gap: 2px !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 8px !important;
        width: 8px !important;
    }

    [data-input-otp-container]>div>div>input {
        font-size: 20px !important;
        font-weight: bold !important;
    }
}


@media (min-width: 420px) {
    [data-input-otp-container] {
        padding: 0 3px !important;
    }

    [data-input-otp-container]>div>div {
        height: 35px !important;
        width: 35px !important;
        padding: 3px !important;
        border-radius: 5px !important;
        gap: 2px !important;
        margin: 0 auto !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 10px !important;
        width: 10px !important;
    }
}


@media (min-width: 550px) {
    [data-input-otp-container]>div>div {
        height: 50px !important;
        width: 50px !important;
        padding: 3px !important;
        border-radius: 5px !important;
        gap: 2px !important;
        margin: 0 auto !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 15px !important;
        width: 15px !important;
    }
}


@media (min-width: 750px) {
    [data-input-otp-container] {
        padding: 0 35px !important;
    }
}


@media (min-width: 900px) {
    [data-input-otp-container] {
        padding: 0 10px !important;
    }

    [data-input-otp-container]>div>div {
        height: 35px !important;
        width: 35px !important;
        padding: 3px !important;
        border-radius: 5px !important;
        gap: 1.5px !important;
        margin: 0 auto !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 15px !important;
        width: 15px !important;
    }

    [data-input-otp-container]>div>div>input {
        font-size: 16px !important;
        font-weight: bold !important;
    }
}


@media (min-width: 950px) {
    [data-input-otp-container]>div>div {
        height: 40px !important;
        width: 40px !important;
        padding: 3px !important;
        border-radius: 5px !important;
        gap: 1.5px !important;
        margin: 0 auto !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 15px !important;
        width: 15px !important;
    }

    [data-input-otp-container]>div>div>input {
        font-size: 18px !important;
        font-weight: bold !important;
    }
}


@media (min-width: 1024px) {
    [data-input-otp-container] {
        padding: 0 0px !important;
    }

    [data-input-otp-container]>div>div {
        height: 48px !important;
        width: 48px !important;
        padding: 3px !important;
        border-radius: 5px !important;
        gap: 2px !important;
        margin: 0 auto !important;
    }

    [data-input-otp-container]>div:nth-of-type(2)>div {
        height: 15px !important;
        width: 15px !important;
    }

    [data-input-otp-container]>div>div>input {
        font-size: 20px !important;
        font-weight: bold !important;
    }
}